*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}
.principal-nav .menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}  
.principal-nav .menu a{
    text-decoration: none;
    padding: 10px 15px;
    color: #797878;
}
.principal-nav .menu li{
    padding: 15px;
    font-size: 20px;
}
.principal-nav .menu li:hover{
    background-color: #ffffff;
    border-radius: 5px;
}

footer{
    background-color: black;
    color: #797878;
    padding: 20px;
    text-align: center;
}
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}
footer ul li{
    display: inline;
    margin: 0 15px;
}
footer ul li a{
    color: #706f6f;
    text-decoration: none;
}
footer ul li a:hover{
    background-color: #ffffff;
    border-radius: 5px;
}
main{
    display: flex; /* Ativa o Flexbox */
    width: 100;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}
.centro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 100vh;
    background-color: red;
}
.conteudo{
   display: flex;
   margin: 20px;
   width: 10px;       
}