*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}
.icone{
    width: 50px;
    height: 50px;
}
.menu-lateral{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-family: "Aldrich", sans-serif;
}
.menu-lateral .menu-1{
    list-style-type: none;
    width: 200px;
    background-color: #000000;
    padding: 20px;
}
.menu-lateral .menu-1 a{
    text-decoration: none;
    padding: 10px 15px;
    color: rgb(12, 180, 12);
}
.menu-lateral .menu-1 a li{
    padding: 10px;
    font-size: 18px;
}
.menu-lateral .menu-1  li:hover{
    background-color: #ffffff;
    border-radius: 5px;
}
.h1-menu{
    color:  rgb(12, 180, 12);
    padding-right: 40px;
    font-family: "Anton", sans-serif;
}
.centro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    background-color: #c9c7c7;
}
.conteudo-lateral{
    margin: 20px;
    width: 45%;
}
.centro ul{
    font-size: 18px;
    color: #555;
    max-width: 100%;
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto Condensed", sans-serif;
}
.centro p{
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.conteudo{
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: auto;
    width: 100%;
}
.h1-1{
    width: 100%;
    text-align: center;
    color: rgb(12, 180, 12);
    font-family: 'Rubik Mono One', monospace;
}
.h1-2{
    width: 95%;
    text-align: center;
    font-family: "Anton", sans-serif;
}
.h2-1{
    width: 100%;
    margin-left: 9%;
    font-family: "Anton", sans-serif;
}
main{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
main p{
    font-size: 18px;
    color: #555;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto Condensed", sans-serif;
}
.centro-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    background-color: #c9c7c7;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.formulario input{
    margin-bottom: 10px;
    width: 100%;
}
.formulario .informacoes{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.formulario .escolha{
    display: inline;
    width: 100%;   
}
.formulario .coment{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formulario button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(7, 212, 7);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 5px;
    width: 20%; 
    margin-top: 20px;
  }
  
  .formulario button:hover {
    background-color: #000000;
    transition: 0.3s;
  }
.formulario input, .formulario select, .formulario textarea{
    width: 70%;
    margin-bottom: 10px;
}
.rubik-mono-one-regular{
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}
.anton-regular{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.aldrich-regular{
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-condensed{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
footer{
    background-color: black;
    color: rgb(12, 180, 12);
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 10px;
}
footer ul li{
    display: inline;
}
footer ul li a{
    color: rgb(12, 180, 12);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
}
footer ul li a:hover{
    background-color: #ffffff;
    border-radius: 5px;
}